:root{--sdpi-bgcolor:#2D2D2D;--sdpi-background:#3D3D3D;--sdpi-color:#d8d8d8;--sdpi-bordercolor:#3a3a3a;--sdpi-buttonbordercolor:#969696;--sdpi-borderradius:0px;--sdpi-width:224px;--sdpi-fontweight:600;--sdpi-letterspacing:-0.25pt}
html{--sdpi-bgcolor:#2D2D2D;--sdpi-background:#3D3D3D;--sdpi-color:#d8d8d8;--sdpi-bordercolor:#3a3a3a;--sdpi-buttonbordercolor:#969696;--sdpi-borderradius:0px;--sdpi-width:224px;--sdpi-fontweight:600;--sdpi-letterspacing:-0.25pt;height:100%;width:100%;overflow:hidden;touch-action:none;user-select:none}
html,body{font-family:system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";font-size:9pt;background-color:var(--sdpi-bgcolor);color:#9a9a9a}
body{height:100%;padding:0;overflow-x:hidden;overflow-y:auto;margin:0;-webkit-overflow-scrolling:touch;-webkit-text-size-adjust:100%;-webkit-font-smoothing:antialiased}
mark{background-color:var(--sdpi-bgcolor);color:var(--sdpi-color)}
hr,hr2{-webkit-margin-before:1em;-webkit-margin-after:1em;border-style:none;background:var(--sdpi-background);height:1px}
hr2,.sdpi-heading{display:flex;flex-basis:100%;align-items:center;color:inherit;font-size:9pt;margin:8px 0px}
.sdpi-heading::before,.sdpi-heading::after{content:"";flex-grow:1;background:var(--sdpi-background);height:1px;font-size:0px;line-height:0px;margin:0px 16px}
hr2{height:2px}
hr,hr2{margin-left:16px;margin-right:16px}
.sdpi-item-value,option,input,select,button{font-size:10pt;font-weight:var(--sdpi-fontweight);letter-spacing:var(--sdpi-letterspacing)}
.win .sdpi-item-value,.win option,.win input,.win select,.win button{font-size:11px;font-style:normal;letter-spacing:inherit;font-weight:100}
.win button{font-size:12px}
::-webkit-progress-value,meter::-webkit-meter-optimum-value{border-radius:2px}
::-webkit-progress-bar,meter::-webkit-meter-bar{border-radius:3px;background:var(--sdpi-background)}
::-webkit-progress-bar:active,meter::-webkit-meter-bar:active{border-radius:3px;background:#222222}
::-webkit-progress-value:active,meter::-webkit-meter-optimum-value:active{background:#99f}
progress,progress.sdpi-item-value{min-height:5px !important;height:5px;background-color:#303030}
progress{margin-top:8px !important;margin-bottom:8px !important}
.full progress,progress.full{margin-top:3px !important}
::-webkit-progress-inner-element{background-color:transparent}
.sdpi-item[type="progress"]{margin-top:4px !important;margin-bottom:12px;min-height:15px}
.sdpi-item-child.full:last-child{margin-bottom:4px}
.tabs{display:flex;border-bottom:1px solid #D7DBDD}
.tab{cursor:pointer;padding:5px 30px;color:#16a2d7;font-size:9pt;border-bottom:2px solid transparent}
.tab.is-tab-selected{border-bottom-color:#4ebbe4}
select{width:100%;-webkit-appearance:none;-moz-appearance:none;-o-appearance:none;appearance:none;background:url(caret.svg) no-repeat 97% center}
label.sdpi-file-label,input[type="button"],input[type="submit"],input[type="reset"],input[type="file"],input[type=file]::-webkit-file-upload-button,button,select{color:var(--sdpi-color);border:1pt solid #303030;font-size:8pt;background-color:var(--sdpi-background);border-radius:var(--sdpi-borderradius)}
label.sdpi-file-label,input[type="button"],input[type="submit"],input[type="reset"],input[type="file"],input[type=file]::-webkit-file-upload-button,button{border:1pt solid var(--sdpi-buttonbordercolor);border-radius:var(--sdpi-borderradius);border-color:var(--sdpi-buttonbordercolor);min-height:23px !important;height:23px !important;margin-right:8px}
input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{-webkit-appearance:none;margin:0}
input[type="file"]{border-radius:var(--sdpi-borderradius);max-width:220px}
option{height:1.5em;padding:4px}
.sdpi-wrapper{overflow-x:hidden;height:100%}
.sdpi-item{display:flex;flex-direction:row;min-height:32px;align-items:center;margin-top:2px;max-width:344px;-webkit-user-drag:none}
.sdpi-item:first-child{margin-top:-1px}
.sdpi-item:last-child{margin-bottom:0px}
.sdpi-item>*:not(.sdpi-item-label):not(meter):not(details):not(canvas){min-height:26px;padding:0px 4px 0px 4px}
.sdpi-item>*:not(.sdpi-item-label.empty):not(meter){min-height:26px;padding:0px 4px 0px 4px}
.sdpi-item-group{padding:0 !important}
meter.sdpi-item-value{margin-left:6px}
.sdpi-item[type="group"]{display:block;margin-top:12px;margin-bottom:12px;flex-direction:unset;text-align:left}
.sdpi-item[type="group"]>.sdpi-item-label,.sdpi-item[type="group"].sdpi-item-label{width:96%;text-align:left;font-weight:700;margin-bottom:4px;padding-left:4px}
dl,ul,ol{-webkit-margin-before:0px;-webkit-margin-after:4px;-webkit-padding-start:1em;max-height:90px;overflow-y:scroll;cursor:pointer;user-select:none}
table.sdpi-item-value,dl.sdpi-item-value,ul.sdpi-item-value,ol.sdpi-item-value{-webkit-margin-before:4px;-webkit-margin-after:8px;-webkit-padding-start:1em;width:var(--sdpi-width);text-align:center}
table>caption{margin:2px}
.list,.sdpi-item[type="list"]{align-items:baseline}
.sdpi-item-label{text-align:right;flex:none;width:94px;padding-right:4px;font-weight:600}
.win .sdpi-item-label,.sdpi-item-label>small{font-weight:normal}
.sdpi-item-label:after{content:":"}
.sdpi-item-label.empty:after{content:""}
.sdpi-test,.sdpi-item-value{flex:1 0 0;margin-right:14px;margin-left:4px;justify-content:space-evenly}
canvas.sdpi-item-value{max-width:144px;max-height:144px;width:144px;height:144px;margin:0 auto;cursor:pointer}
input.sdpi-item-value{margin-left:5px}
.sdpi-item-value button,button.sdpi-item-value{margin-left:6px;margin-right:14px}
.sdpi-item-value.range{margin-left:0px}
table,dl.sdpi-item-value,ul.sdpi-item-value,ol.sdpi-item-value,.sdpi-item-value>dl,.sdpi-item-value>ul,.sdpi-item-value>ol{list-style-type:none;list-style-position:outside;margin-left:-4px;margin-right:-4px;padding:4px;border:1px solid var(--sdpi-bordercolor)}
dl.sdpi-item-value,ul.sdpi-item-value,ol.sdpi-item-value,.sdpi-item-value>ol{list-style-type:none;list-style-position:inside;margin-left:5px;margin-right:12px;padding:4px !important;display:flex;flex-direction:column}
.two-items li{display:flex}
.two-items li>*:first-child{flex:0 0 50%;text-align:left}
.two-items.thirtyseventy li>*:first-child{flex:0 0 30%}
ol.sdpi-item-value,.sdpi-item-value>ol[listtype="none"]{list-style-type:none}
ol.sdpi-item-value[type="decimal"],.sdpi-item-value>ol[type="decimal"]{list-style-type:decimal}
ol.sdpi-item-value[type="decimal-leading-zero"],.sdpi-item-value>ol[type="decimal-leading-zero"]{list-style-type:decimal-leading-zero}
ol.sdpi-item-value[type="lower-alpha"],.sdpi-item-value>ol[type="lower-alpha"]{list-style-type:lower-alpha}
ol.sdpi-item-value[type="upper-alpha"],.sdpi-item-value>ol[type="upper-alpha"]{list-style-type:upper-alpha}
ol.sdpi-item-value[type="upper-roman"],.sdpi-item-value>ol[type="upper-roman"]{list-style-type:upper-roman}
ol.sdpi-item-value[type="lower-roman"],.sdpi-item-value>ol[type="lower-roman"]{list-style-type:upper-roman}
tr:nth-child(even),.sdpi-item-value>ul>li:nth-child(even),.sdpi-item-value>ol>li:nth-child(even),li:nth-child(even){background-color:rgba(0,0,0,.2)}
td:hover,.sdpi-item-value>ul>li:hover:nth-child(even),.sdpi-item-value>ol>li:hover:nth-child(even),li:hover:nth-child(even),li:hover{background-color:rgba(255,255,255,.1)}
td.selected,td.selected:hover,li.selected:hover,li.selected{color:white;background-color:#77f}
tr{border:1px solid var(--sdpi-bordercolor)}
td{border-right:1px solid var(--sdpi-bordercolor)}
tr:last-child,td:last-child{border:none}
.sdpi-item-value.select,.sdpi-item-value>select{margin-right:13px;margin-left:4px}
.sdpi-item-child,.sdpi-item-group>.sdpi-item>input[type="color"]{margin-top:0.4em;margin-right:4px}
.full,.full *,.sdpi-item-value.full,.sdpi-item-child>full>*,.sdpi-item-child.full,.sdpi-item-child.full>*,.full>.sdpi-item-child,.full>.sdpi-item-child>*{display:flex;flex:1 1 0;margin-bottom:4px;margin-left:0px;width:100%;justify-content:space-evenly}
.sdpi-item-group>.sdpi-item>input[type="color"]{margin-top:0px}
::-webkit-calendar-picker-indicator:focus,input[type=file]::-webkit-file-upload-button:focus,button:focus,textarea:focus,input:focus,select:focus,option:focus,details:focus,summary:focus,.custom-select select{outline:none}
summary{cursor:default;padding-left:90px;padding-right:70px}
.pointer,summary .pointer{cursor:pointer}
details *{font-size:12px;font-weight:normal;word-break:break-all;}
details.message{padding:4px 18px 4px 12px}
details.message summary{min-height:18px}
details.message:first-child{margin-top:4px;margin-left:0;padding-left:102px}
details.message h1{text-align:left}
.message>summary::-webkit-details-marker{display:none}
input:not([type="range"]),textarea{-webkit-appearance:none;appearance:none;background:var(--sdpi-background);color:var(--sdpi-color);font-weight:normal;font-size:9pt;border:none;margin-top:2px;margin-bottom:2px;min-width:219px}
textarea+label{display:flex;justify-content:flex-end}
input[type="radio"],input[type="checkbox"]{display:none}
input[type="radio"]+label,input[type="checkbox"]+label{font-size:9pt;color:var(--sdpi-color);font-weight:normal;margin-right:8px}
input[type="radio"]+label:after,input[type="checkbox"]+label:after{content:" " !important}
.sdpi-item[type="radio"]>.sdpi-item-value,.sdpi-item[type="checkbox"]>.sdpi-item-value{padding-top:2px}
.sdpi-item[type="checkbox"]>.sdpi-item-value>*{margin-top:4px}
.sdpi-item[type="checkbox"] .sdpi-item-child,.sdpi-item[type="radio"] .sdpi-item-child{display:inline-block}
.sdpi-item[type="range"] .sdpi-item-value,.sdpi-item[type="meter"] .sdpi-item-child,.sdpi-item[type="progress"] .sdpi-item-child{display:flex}
.sdpi-item[type="range"] .sdpi-item-value{min-height:26px}
.sdpi-item[type="range"] .sdpi-item-value span,.sdpi-item[type="meter"] .sdpi-item-child span,.sdpi-item[type="progress"] .sdpi-item-child span{margin-top:-2px;min-width:8px;text-align:right;user-select:none;cursor:pointer;-webkit-user-select:none;user-select:none}
.sdpi-item[type="range"] .sdpi-item-value span{margin-top:7px;text-align:right}
span+input[type="range"]{display:flex;max-width:168px}
.sdpi-item[type="range"] .sdpi-item-value span:first-child,.sdpi-item[type="meter"] .sdpi-item-child span:first-child,.sdpi-item[type="progress"] .sdpi-item-child span:first-child{margin-right:4px}
.sdpi-item[type="range"] .sdpi-item-value span:last-child,.sdpi-item[type="meter"] .sdpi-item-child span:last-child,.sdpi-item[type="progress"] .sdpi-item-child span:last-child{margin-left:4px}
.reverse{transform:rotate(180deg)}
.sdpi-item[type="meter"] .sdpi-item-child meter+span:last-child{margin-left:-10px}
.sdpi-item[type="progress"] .sdpi-item-child meter+span:last-child{margin-left:-14px}
.sdpi-item[type="radio"]>.sdpi-item-value>*{margin-top:2px}
details{padding:8px 18px 8px 12px;min-width:86px}
details>h4{border-bottom:1px solid var(--sdpi-bordercolor)}
legend{display:none}
.sdpi-item-value>textarea{padding:0px;width:219px;margin-left:1px;margin-top:3px;padding:4px}
input[type="radio"]+label span,input[type="checkbox"]+label span{display:inline-block;width:16px;height:16px;margin:2px 4px 2px 0;border-radius:3px;vertical-align:middle;background:var(--sdpi-background);cursor:pointer;border:1px solid rgb(0,0,0,.2)}
input[type="radio"]+label span{border-radius:100%}
input[type="radio"]:checked+label span,input[type="checkbox"]:checked+label span{background-color:#77f;background-image:url(check.svg);background-repeat:no-repeat;background-position:center center;border:1px solid rgb(0,0,0,.4)}
input[type="radio"]:active:checked+label span,input[type="radio"]:active+label span,input[type="checkbox"]:active:checked+label span,input[type="checkbox"]:active+label span{background-color:#303030}
input[type="radio"]:checked+label span{background-image:url(rcheck.svg)}
input[type="range"]{width:var(--sdpi-width);height:30px;overflow:hidden;cursor:pointer;background:transparent !important}
.sdpi-item>input[type="range"]{margin-left:2px;max-width:var(--sdpi-width);width:var(--sdpi-width);padding:0px;margin-top:2px}
input[type="range"]::-webkit-slider-runnable-track{height:5px;background:#979797;border-radius:3px;padding:0px !important;border:1px solid var(--sdpi-background)}
input[type="range"]::-webkit-slider-thumb{position:relative;-webkit-appearance:none;background-color:var(--sdpi-color);width:12px;height:12px;border-radius:20px;margin-top:-5px;border:none}
input[type="range" i]{margin:0}
input[type="range"]::-webkit-slider-thumb::before{position:absolute;content:"";height:5px;width:500px;left:-502px;top:8px;background:#77f}
input[type="color"]{min-width:32px;min-height:32px;width:32px;height:32px;padding:0;background-color:var(--sdpi-bgcolor);flex:none}
::-webkit-color-swatch{min-width:24px}
textarea{height:3em;word-break:break-word;line-height:1.5em}
.textarea{padding:0px !important}
textarea{width:219px;height:96%;min-height:6em;resize:none;border-radius:var(--sdpi-borderradius)}
a{color:#7397d2}
::-webkit-scrollbar{width:8px}
::-webkit-scrollbar-track{-webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0.3)}
::-webkit-scrollbar-thumb{background-color:#999999;outline:1px solid slategrey;border-radius:8px}
.hidden{display:none}
